<!-- Main Content Begin -->
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <%- include('form') %>
                <%#= locals.session.publicacaoEdit %>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- container -->
</section>
<!-- Main Content End -->