<!-- Content Header (Page header) -->
<%- include('../painel-usuario/header') %>
  <!-- Main Content Begin -->
  <section>
    <div class="container">
        <div class="row">
            <div class="col">
                <%- include('form') %>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- container -->
</section>