<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <style>
       
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 40px 20px;
            text-align: center;
        }
        
        h1 {
            font-size: 48px;
            color: #333;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 35px;
            color: #333;
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
            color: #777;
            margin-bottom: 20px;
        }
        
        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }
        
        a:hover {
            background-color: #555;
        }
        
        .gif {
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <h3> Página não encontrada</h3>
        <p>Pô campeão parece que a página que você procurou não existe.</p>
        <div class="gif">
            <img src="https://media.giphy.com/media/4ckqt6e1K1GaGQMhCT/giphy.gif" alt="Gif animado engraçado">
        </div> 
        <br>
        <a href="/">Voltar</a>
    </div>
</body>
</html>
