<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <title>Logar</title>
    <%- include('head')%>

</head>
<body class="hold-transition login-page">
    <%- include('main') %>
    <% // checagem alternativa: locals.msg %>
    <% if(typeof msg != 'undefined') { %>
        <p style="color: red; text-align: center">
            <%= msg %>
        </p>
    <% } %>
</body>
</html>