<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="/painel-usuario/nova-publicacao">Vender/Trocar</a>
                        </li><li><a href="/painel-usuario">Painel Usuário</a></li>
                        <li><a href="/painel-admin">Painel Admin</a></li>
                    </ul>
                
                </nav>
            </div>
            <% if(locals.sess.usuario == null) { %>
                <div class="col-lg-3 mt-4 mb-4">
                    <a href="/login" class="header_entrar btn site-btn">Entrar</a>
                </div>
            <% } else { %>
                <div class="col-sm-1 mt-4 mb-4"><h7>Olá, <%= locals.sess.usuario.nome %></h7></div>
                <div class="col-lg-2 mt-4 mb-4">
                    <a href="/logout" class="header_entrar btn site-btn">Sair</a>
                </div>
            <% } %>
        <!--<div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>-->
    </div>
</div></header>