<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="hero__search">
                    <div class="hero__search__form"
                        style="background-color: rgb(255, 255, 255); --darkreader-inline-bgcolor: #181a1b;"
                        data-darkreader-inline-bgcolor="">
                        <!--<form action="#">
                            <input type="text" placeholder="Do que você precisa?">
                            <button type="submit" class="btn site-btn">PROCURAR</button>
                        </form>-->
                        <%- include('../home/formBusca') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>