<!-- To the right -->
<div class="float-right d-none d-sm-inline">
    &copy; 2023 Breshopp Team
</div>
<!-- Default to the left -->
<strong>Template by <a href="https://adminlte.io">AdminLTE.io</a></strong>